$vidBlack: #050a24;
$vidLightBlack: #141932;
$vidGray: #373b54;
$vidGrayText: #71758c;
$vidLightGrayText: #cac5ff;
$vidGrayTextDarkTheme: #B4B5BD;
$vidGrayTextItemContent: #828491;
$vidOrange: #ffc000;
$vidOrangeGradient: #ffa724;
$vidRoseGradient1: #ff5f5f;
$vidBlackGradient: #040a26;
$vidBlackGradient0: rgba($vidBlackGradient, 0);
$vidBlackGradient09: rgba($vidBlackGradient, 0.9);
$vidGray03: rgba($vidGray, 0.3);
$vidGray05: rgba($vidGray, 0.5);
$vidGrey01: rgba($vidBlack, 0.1);
$vidGrey05: rgba($vidBlack, 0.5);
$vidBlack07: rgba($vidBlack, 0.7);
$vidWhite: #ffffff;
$vidWhite07: rgba($vidWhite, 0.7);
$vidWhite05: rgba($vidWhite, 0.5);
$backgroundLight: #e5e5e5;
$backgroundLight: #dde0f1;
$backgroundDark: #050a25;
$vidBlue: #0025FF;
$vidDarkBlue: #1C00D1;
$vidGreen: #35A8AF;
$vidYellow: #FFBE00;
$vidYellowOrange: #FFBC00;
$vidRose: #FF455A;
$vidRed: red;
