@import "src/styles/imports";

.root {
  display: flex;
  width: 90%;
  height: 60px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: $primary;
  padding-left: 30px;
  padding-right: 30px;

  ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
}

.cart {
  &__link {
    position: relative;
  }

  &__badge {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: -7px;
    left: 23px;
  }
}
